style>
   table{
   	border: darkred;
   	margin-left: auto;
   	margin-right: auto;
   	height: 230px;
   }
   input[type="button"]{
   	width: 100px;
   	padding: 45px 56px;
   	background-color: red;
   	color: white;
   	font-size: 20px;
   	font-weight: bold;
   	border: none;
   	border-radius: 16px;
   	height: 70px;
   }
   input[type="text"]
   padding:20px 39px
   font-size:25px;
   font-weight:bold;
   border:none;
   border-radius:43px;
   }
   input[type="text"] {
   	padding: 52px 40px;
   	font-size: 45px;
   	font-weight: bold;
   	border: 56px;
   	border-radius: 15px;
   	border: 30px solid black;
   }
   </style>		